{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="hero-title" style="font-size: 35px;">Get in Touch</h2>
    <p class="hero-subtitle">For any queries regarding KodeCurrent 2026.</p>

    <div class="mt-5">
        <p><strong>Phone:</strong> +91 9335629950</p>
        <p><strong>Email:</strong> <a href="mailto:your-email@example.com" class="text-info">25mc3049@rgipt.ac.in</a>
        </p>

        <div class="mt-4">
            <a href="https://www.linkedin.com/in/ravindra-saroj-481037382" target="_blank"
                class="btn btn-outline-light me-2">LinkedIn</a>
            <a href="https://github.com/am-gowinravindra " target="_blank" class="btn btn-outline-light">GitHub</a>
        </div>
    </div>
</div>
{% endblock %}